.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-table {
 border: 1px solid #111111;
 width: 100%;
 padding:10px;
}
.container-title-footer {
 height: 50px;
 border: 1px solid #111111
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border-top: 1px solid #111111;
  border-right: 1px solid #111111;
  border-bottom: 1px solid #111111;
  overflow: auto;
  display:flex;
  flex-direction: column;
}
th {
  border-left: 1px solid #111111;
  text-align: left;
  padding-left: 5px;
  font-weight: normal;
  background-color: #dddddd
}
td{
  padding: 5px;
  border-left: 1px solid #494949;
}
tr:nth-child(even) {
  background-color: #f0f0f0;
}
tr:hover {background-color: #ddd;}

.tr-header{
 display:flex;
 width: 100%;
 flex-direction: row;
}
.header{
 display:flex;

 flex-direction: row;
 align-items: center;
 justify-content: space-between;
}
.header-action {
 display:flex;
 flex-direction: column;
 cursor: pointer;
}
.header-action mat-icon:hover{
  background-color: green;
}

.tr-footer{
 display:flex;
 width: 100%;
 flex-direction: row;
}
.footer{
 display:flex;

 align-items: center;
}
.footer-action{
 display:flex;
 align-items: center;
 justify-content: center;
}


