.container-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
 width: 100%;
}
.container-title-footer {
 display: flex;
 height: 30px;
 border: 1px solid rgb(50, 117, 204);
 flex-direction: column;
 justify-content: center;
 padding-left:5px;
 background-color: rgb(50, 117, 204)
}
p{
  color:white;
}
.container-table {
 border-left: 2px solid rgb(50, 117, 204);
 border-right: 2px solid rgb(50, 117, 204);
 padding: 10px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  display:flex;
  flex-direction: column;
  border: 1px solid #494949;
  max-height: 500px;
  overflow-y: auto ;
}
th {
  border-left: 1px solid #494949;
  border-right: 1px solid #111111;
  font-weight: normal;
  background-color: #dddddd;
  padding: 10px;
  min-width: 100px;
}
td{
  border-left: 1px solid #494949;
  border-right: 1px solid #111111;
  padding: 10px;
  min-width: 100px;
}
tr:nth-child(even) {
  background-color: #f0f0f0;
}

.tr-header{
 display:flex;
 flex-direction: row;
}
.header{
 display:flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
}
.header-action {
 display:flex;
 flex-direction: column;
 justify-content: center;
 cursor: pointer;
}
.header-action mat-icon:hover{
  background-color: blue;
  color:white
}
.tr-footer{
 display:flex;
 flex-direction: row;
}
.footer{
 display:flex;
 align-items: center;
}
.footer-action{
 display:flex;
 align-items: center;
 justify-content: center;
 cursor: pointer;
}
.footer-action mat-icon:hover{
  background-color: blue;
  color:white;
}
