<div class = "container-flex">
<div class = "container">
<div class = "name-field">
  <div >
    Nama
  </div>
  <div>
   <input type="text" id="fname" name="firstname" placeholder="Your name..">
  </div>
</div>

<div class = "name-field">
  <div >
    Tanggal Lahir
  </div>
  <div>
   <input type="text" id="fname" name="firstname" placeholder="Your name..">
  </div>
</div>

<div class = "name-field">
  <div >
    Jabatan
  </div>
  <div>
   <input type="text" id="fname" name="firstname" placeholder="Your name..">
  </div>
</div>

<div class = "name-field">
  <div >
    NIP
  </div>
  <div>
   <input type="text" id="fname" name="firstname" placeholder="Your name..">
  </div>
</div>

</div>



</div>