<div class="container-flex">
	<div class="container">
		<div class="name-field">
			<div class="left-field">
				Nama
			</div>
			<div class="right-field">
				<mat-form-field class="example-form-field">
					<mat-label>Nama</mat-label>
					<input matInput type="text" [(ngModel)]="paramEmployee.name">
				</mat-form-field>
			</div>
		</div>
		<div class="name-field">
			<div class="left-field">
				Tanggal Lahir
			</div>
			<div class="right-field">
				<mat-form-field color="accent" appearance="fill">
					<mat-label>Tanggal Lahir</mat-label>
					<input matInput [matDatepicker]="picker1" [(ngModel)]="paramEmployee.birthDate" >
					<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
					<mat-datepicker #picker1></mat-datepicker>
				</mat-form-field>
			</div>
		</div>
		<div class="name-field">
			<div class="left-field">
				Jabatan
			</div>
			<div class="right-field">
				<mat-form-field appearance="fill">
					<mat-label>==Pilih Jabatan==</mat-label>
					<mat-select [(ngModel)]="paramEmployee.position.id" name="food">
						<mat-option *ngFor="let food of foods" [value]="food.value">
							{{food.viewValue}}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</div>
		<div class="name-field">
			<div class="left-field">
				NIP
			</div>
			<div class="right-field">
				<mat-form-field class="example-form-field">
					<mat-label>No Induk Pegawai</mat-label>
					<input matInput type="text" name = "username"[(ngModel)]="paramEmployee.idNumber"(ngModelChange)="test()">
				</mat-form-field>
			</div>
		</div>
		<div class="name-field">
			<div class="left-field">
				Jenis Kelamin
			</div>
			<div class="right-field">
				<mat-radio-group aria-label="Select an option" [(ngModel)]="paramEmployee.gender">
					<mat-radio-button style="margin-right:50%" value="1">Pria</mat-radio-button>
					<mat-radio-button value="2">Wanita</mat-radio-button>
				</mat-radio-group>
			</div>
		</div>
		<div class="name-field" style="margin-top:50px">
			<div class="left-field" style=" justify-content: flex-end;margin:10px">
				<button  class="button-left" mat-raised-button color="primary" (click)="addEmployees()">Kembali</button>
			</div>
			<div class="right-field" style="margin:10px">
				<button  class="button-left" mat-raised-button color="primary" (click)="test()">Simpan</button>
			</div>
		</div>
	</div>
</div>