.container-flex{
  display: flex;
  border:1px solid black;
  flex-direction: column;
  padding: 5px
}
.container{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.name-field{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 10px
}
.left-field{
  flex:1;
  display: flex;
}
.right-field{
  flex:1;
}
mat-form-field{
  width: 100%;
}

/* @media screen and (max-width: 1200px) {
mat-form-field{
    width: 500px;
}}

@media screen and (max-width: 400px) {
mat-form-field{
    width: 125px;
}} */
