<div class="container-header">
  <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_back_ios</mat-icon>
  <h4>Booking Summary</h4>
</div>

<div class="container-body" [ngStyle]="{'height.px':getHeight()}">

  <div class="container-description">
    <div class="container-address">
      <div class="header">
        <p>Porsche Mampang Gallery A</p>
        <div class="content">
          <mat-icon aria-hidden="false" aria-label="Example home icon">place</mat-icon>
          <p>Jl.Mampang prapatan No 3 Jakarta Selatan</p>
        </div>
      </div>
    </div>
    <div class="container-car">
      <div class="container-image">
        <div class="image">
          <img src="https://aambassador.com/images/car/car-3-old.jpg" alt="alternatetext">
        </div>
        <div class="description">
          <p class="header">B901LKP</p>
          <p class="content">Toyota-New Agya</p>
        </div>
      </div>
      <div class="icon">
        <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_down</mat-icon>
      </div>
    </div>
    <div class="container-form">
      <mat-form-field style="margin-bottom: -0.5em">
        <mat-select name="selectedCategory" [(value)]="selectedCategory" placeholder="Service Category">
          <mat-option [value]="'GB'">Great Britain</mat-option>
          <mat-option [value]="'US'">United States</mat-option>
          <mat-option [value]="'CA'">Canada</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field style="margin-bottom: -0.5em">
        <mat-select name="selectedType" [(value)]="selectedType" placeholder="Service Type">
          <mat-option [value]="'GB'">Great Britain</mat-option>
          <mat-option [value]="'US'">United States</mat-option>
          <mat-option [value]="'CA'">Canada</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field style="margin-bottom: -1.25em">
        <input matInput [matDatepicker]="dp" placeholder="Service Date" [formControl]="date">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
      </mat-form-field>

      <material-timepicker color="primary" label="Service Time" appearance="standard" [userTime]="exportTime">
      </material-timepicker>

    </div>
  </div>
  <div class="container-submit">
    <p class="header">Estimate Price</p>
    <p class="content">{{price}}</p>
  </div>
</div>