@mixin card($height: 20px) {
  height: $height;
  box-shadow: 0px 3px 3px #f0f0f0;
  width: 100%;
}
.container-header {
  display: flex;
  align-items: center;
  font-weight: bold;
  padding-left: 20px;
  @include card(70px);
  h4 {
    padding-left: 20px;
  }
  mat-icon {
    font-size: 22px;
  }
}
.container-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  .container-description {
    display: flex;
    flex-direction: column;
    flex: 3;

    .container-address {
      @include card(70px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 5px;
      .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
          font-weight: bold;
          font-size: 16px;
          padding-left: 5px;
          margin: 0;
        }
        .content {
          display: flex;
          align-items: center;
          margin-top: 5px;
          p {
            font-size: 15px;
            color: #807f7f;
            padding-left: 5px;
            font-weight: 2;
            margin: 0;
          }
          mat-icon {
            color: #807f7f;
          }
        }
      }
    }
    .container-car {
      @include card(70px);
      display: flex;
      padding: 5px;
      .container-image {
        display: flex;
        flex: 10;
        .image {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px;
          img {
            width: 50px;
          }
        }
        .description {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          .header {
            font-size: 15px;
            padding-left: 5px;
            font-weight: bold;
            margin: 0;
          }
          .content {
            font-size: 15px;
            color: #807f7f;
            padding-left: 5px;
            font-weight: 2;
            margin: 0;
          }
        }
      }
      .icon {
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: flex-end;
      }
    }
    .container-form {
      @include card(300px);
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 5px;

    }
  }
  .container-submit {
    box-shadow: 0px 3px 3px #f0f0f0;
    flex: 2;
  }
}
