@mixin card($height: 20px) {
  height: $height;
  box-shadow: 5px 5px 5px #f0f0f0;
  width: 100%;
  border-radius: 15px;
}
:host ::ng-deep .mat-icon {
  font-size: 18px;
}
.container-header {
  display: flex;
  align-items: center;
  font-weight: bold;
  padding-left: 20px;
  @include card(70px);
  h4 {
    padding-left: 20px;
  }
}

.container-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  .container-description {
    //height sudah ditentukan di html sesuai height screen
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 40%;
    max-width: 40%;
    .container-address {
      @include card(70px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 5px;
      .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
          font-weight: bold;
          font-size: 15px;
          padding-left: 5px;
        }
        .content {
          display: flex;
          align-items: center;
          margin-top: 5px;
          p {
            font-size: 12px;
            color: #807f7f;
            padding-left: 5px;
            font-weight: 2;
          }
          mat-icon {
            color: #807f7f;
            font-size: 20px;
            padding-top: 5px;
          }
        }
      }
    }

    .container-car {
      @include card(70px);
      display: flex;
      padding: 5px;
      margin-top: 25px;
      .container-image {
        display: flex;
        flex: 10;
        .image {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px;
          img {
            width: 50px;
          }
        }
        .description {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          .header {
            font-size: 15px;
            padding-left: 5px;
            font-weight: bold;
          }
          .content {
            font-size: 12px;
            color: #807f7f;
            padding-left: 5px;
            font-weight: 2;
          }
        }
      }
      .icon {
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: flex-end;
      }
    }
    .container-car:hover {
      border: 1px solid #4caf50;
      cursor: pointer;
    }

    .container-form {
      @include card(220px);
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 5px;
      margin-top: 25px;
    }
  }
  .container-submit {
    box-shadow: 0px 3px 3px #f0f0f0;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    margin-top: 15px;
    width: 40%;
    max-width: 40%;
    .estimate {
      @include card(100px);
      display: flex;
      justify-content: space-between;
      p {
        font-weight: bold;
        font-size: 13px;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
    .button {
      padding: 16px 32px;
      text-align: center;
      font-size: 14px;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
      border-radius: 30px;
      background-color: white;
      color: black;
      border: 2px solid #4caf50;
      font-weight: bold;
    }
    .button:hover {
      background-color: #4caf50;
      color: white;
    }
  }
}
@media only screen and (max-width: 700px) {
  .container-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    .container-description {
      //height sudah ditentukan di html sesuai height screen
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 100%;
    }
    .container-submit {
      box-shadow: 0px 3px 3px #f0f0f0;
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: 10px;
      margin-top: 15px;
      width: 100%;
      max-width: 100%;
    }
  }
}
